body{
  text-align: center;
  font-family: san-sans-serif;
  background-color: pink;
  margin: 10px;
  border: 25px;

}
.love_image{

  height: 50px;
  width: 50px;
}
p{
  font-size: 2em;
  margin-bottom: 0px;
}
.detail{
  font-family: sans-serif;
  font-size: 1.2em;

}

h1{
  color: green;
  margin-bottom: 0;

}

img{

  padding: 25px;
}

h2{
  color: green;
  font-family: sans-serif;
}
.code{
  padding:15px;
}
